<section class="about-me-section">
  <div class="about-me-left">
    <h2 class="about-me-heading">Ольга Молчанова</h2>
    <div class="about-me-text">
      <div class="about-me-description">
        <p class="about-me-fullstack-text">
          Я - <span class="selected-text">Full-stack - розробник</span> -
          створюю сучасні сайти та застосунки, відповідаю за їх
          користувальницький інтерфейс. Допоможу розробити функціональний
          вебпродукт для приваблення клієнтів.
        </p>
        <p class="about-me-expiriens-text">
          Маю досвід роботи як в індивідуальних, так і в командних проєктах
          <a
            class="about-me-link-to-portfolio"
            href="portfolio-page.html"
            aria-label="Link to portfolio"
            >(детальніше - в портфоліо).</a
          >
        </p>
      </div>
      <div class="about-me-technologies">
        <p class="about-me-technologies-text">
          В своїх роботах використовую такі технології:
        </p>
        <ul class="about-me-technologies-list">
          <li class="about-me-technologies-item">
            <svg class="about-me-technologies-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-html"></use>
            </svg>
            <p class="about-me-technologies-name">HTML</p>
          </li>
          <li class="about-me-technologies-item">
            <svg class="about-me-technologies-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-css"></use>
            </svg>
            <p class="about-me-technologies-name">CSS</p>
          </li>
          <li class="about-me-technologies-item">
            <svg class="about-me-technologies-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-react"></use>
            </svg>
            <p class="about-me-technologies-name">React</p>
          </li>
          <li class="about-me-technologies-item">
            <svg class="about-me-technologies-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-node-js"></use>
            </svg>
            <p class="about-me-technologies-name">Node.JS</p>
          </li>
          <li class="about-me-technologies-item">
            <svg class="about-me-technologies-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-javascript"></use>
            </svg>
            <p class="about-me-technologies-name">Java Script</p>
          </li>
        </ul>
      </div>
      <a
        class="link-button about-me-link-button"
        href="mailto:designer.molchanova@gmail.com"
        target="_blank"
        aria-label="Link to email to Olga Molchanova"
        noopener
        noreferrer
        >Написати мені
      </a>
      <div class="about-me-chemist-container">
        <p class="about-me-chemist-text">
          Раніше працювала хіміком в фармацевтичній промисловості, доки не
          написала код свого першого сайту. З тих пір закохалася в
          програмування.
        </p>
      </div>
      <div class="about-me-hobby-container">
        <p class="about-me-hobby-title">Коли я не за комп’ютером, зазвичай:</p>
        <ul class="about-me-hobby-list">
          <li class="about-me-hobby-item">
            <ul class="about-me-hobby-left-list">
              <li class="about-me-hobby-left-item hobby-item">
                <svg
                  class="about-me-hobby-icon hobby-stroke-icon"
                  width="30"
                  height="30"
                >
                  <use href="./img/sprite.svg#icon-travel"></use>
                </svg>
                <p class="about-me-hobby-text">Подорожую</p>
              </li>
              <li class="about-me-hobby-left-item hobby-item">
                <svg
                  class="about-me-hobby-icon hobby-stroke-icon"
                  width="30"
                  height="30"
                >
                  <use href="./img/sprite.svg#icon-family"></use>
                </svg>
                <p class="about-me-hobby-text">Проводжу час із сім’єю</p>
              </li>
            </ul>
          </li>
          <li class="about-me-hobby-item">
            <ul class="about-me-hobby-right-list">
              <li class="about-me-hobby-right-item hobby-item">
                <svg
                  class="about-me-hobby-icon hobby-fill-icon"
                  width="30"
                  height="30"
                >
                  <use href="./img/sprite.svg#icon-headphone"></use>
                </svg>
                <p class="about-me-hobby-text">Слухаю підкасти</p>
              </li>
              <li class="about-me-hobby-right-item hobby-item">
                <svg
                  class="about-me-hobby-icon hobby-fill-icon photo-icon"
                  width="30"
                  height="30"
                >
                  <use href="./img/sprite.svg#icon-photo"></use>
                </svg>
                <p class="about-me-hobby-text">Фотографую природу</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <ul class="about-me-socials-list">
      <li class="about-me-socials-item">
        <a
          class="about-me-socials-link"
          href="https://github.com/MolchanovaOlga"
          target="_blank"
          aria-label="Link to github"
          noopener
          noreferrer
        >
          <svg class="about-me-socials-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-github"></use>
          </svg>
          <p class="about-me-socials-name">GitHub</p>
        </a>
      </li>
      <li class="about-me-socials-item">
        <a
          class="about-me-socials-link"
          href="https://www.linkedin.com/in/olgas-molchanova/"
          target="_blank"
          aria-label="Link to linkedin"
          noopener
          noreferrer
        >
          <svg class="about-me-socials-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-linkedin"></use>
          </svg>
          <p class="about-me-socials-name">Linkedin</p>
        </a>
      </li>
      <li class="about-me-socials-item">
        <a
          class="about-me-socials-link"
          href="https://t.me/OS_Molchanova"
          target="_blank"
          aria-label="Link to Telegram"
          noopener
          noreferrer
        >
          <svg class="about-me-socials-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-telegram"></use>
          </svg>
          <p class="about-me-socials-name">Telegram</p>
        </a>
      </li>
      <li class="about-me-socials-item">
        <a
          class="about-me-socials-link"
          href="https://www.instagram.com/olgas.fed/"
          target="_blank"
          aria-label="Link to Instagram"
          noopener
          noreferrer
        >
          <svg class="about-me-socials-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
          <p class="about-me-socials-name">Instagram</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="about-me-right">
    <div class="about-me-image-container">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about-me-photo-mob-1x.jpg 1x,
            ./img/about-me-photo-mob-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1249px)"
          srcset="
            ./img/about-me-photo-tabl-1x.jpg 1x,
            ./img/about-me-photo-tabl-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1250px)"
          srcset="
            ./img/about-me-photo-desk-1x.jpg 1x,
            ./img/about-me-photo-desk-2x.jpg 2x
          "
        />
        <img
          src="./img/about-me-photo-desk-1x.jpg"
          alt="About me photo"
          class="about-me-image"
        />
      </picture>
    </div>
    <div class="bottom-text-container">
      <p class="about-me-bottom-text">
        Буду рада познайомитись та стати членом Вашої команди!
      </p>
    </div>
    <a
      class="about-me-desktop-link-button link-button"
      href="mailto:designer.molchanova@gmail.com"
      target="_blank"
      aria-label="Link to email to Olga Molchanova"
      noopener
      noreferrer
      >Написати мені
    </a>
  </div>
</section>
