<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="top-modal">
      <div class="logo">
        <a href="./index.html" aria-label="Link to home page">
          <svg class="logo-icon" width="90" height="63">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <button
        class="modal-close-button"
        type="button"
        aria-label="Button to close menu"
        data-modal-close
      >
        <svg class="modal-close-icon" width="30" height="30">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="modal-navigation">
      <ul class="modal-list">
        <li class="modal-list-item">
          <a
            href="./index.html"
            class="modal-link"
            aria-label="Link to home page"
            >Головна</a
          >
        </li>
        <li class="modal-list-item">
          <a
            href="./about-me-page.html"
            class="modal-link"
            aria-label="Link to about me page"
            >Про мене</a
          >
        </li>
        <li class="modal-list-item">
          <a
            href="./portfolio-page.html"
            class="modal-link"
            aria-label="Link to portfolio page"
            >Портфоліо</a
          >
        </li>
        <li class="modal-list-item">
          <a
            href=""
            class="modal-link"
            target="_blank"
            id="link-pdf"
            aria-label="Link to file of resume"
            >Резюме</a
          >
        </li>
        <!--<li class="modal-list-item">
          <a href="" class="modal-link" aria-label="Link to contacts page">Контакти</a>
        </li>-->
      </ul>
    </nav>
    <ul class="menu-socials-list">
      <li class="menu-socials-item">
        <a
          href="https://github.com/MolchanovaOlga"
          target="_blank"
          aria-label="Link to github"
          noopener
          noreferrer
        >
          <svg class="github-icon menu-social-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="menu-socials-item">
        <a
          href="https://www.linkedin.com/in/olgas-molchanova/"
          target="_blank"
          aria-label="Link to linkedin"
          noopener
          noreferrer
        >
          <svg class="linkedin-icon menu-social-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="menu-socials-item">
        <a
          href="https://t.me/OS_Molchanova"
          target="_blank"
          aria-label="Link to Telegram"
          noopener
          noreferrer
        >
          <svg class="telegram-icon menu-social-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
